<div class="team">
  <div class="team-content">
    <h2>Команда</h2>

    <div class="team-item {{ getPositionClass(i) }}" *ngFor="let item of data; let i = index">
      <div class="team-item-photo"><img *ngIf="item.PHOTO" src="{{ item.PHOTO }}" width="100%" height="100%" /></div>
      <div class="team-item-info">
        <h4 class="team-item-position" [innerHTML]="item.POSITION"></h4>
        <h3 class="team-item-name">{{ item.NAME }}</h3>
        <h5 *ngIf="item.ALIAS" class="team-item-alias">({{ item.ALIAS }})</h5>
        <p *ngIf="item.EMAIL" class="team-item-email">{{ item.EMAIL }}</p>
        <p class="team-item-note">{{ item.NOTE }}</p>
      </div>
    </div>
  </div>
</div>
