.projects-item {
  width: 360px;
  margin: 15px;
  float: left;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  overflow: hidden;
}

.projects-item:hover {
  box-shadow: 0px 5px 15px #909090;

  & .projects-description {
    top: 0;
    left: 0;
  }
}

.projects-description {
  position: absolute;
  display: flex;
  top: calc(100% - 27px);
  left: calc(-100% + 75px);
  width: 100%;
  height: 100%;
  transition: 0.3s ease-out;
  color: #2B468B;
  background-color: rgba(235, 235, 235, 0.9);

  & h5 {
    position: absolute;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
    padding: 3px 7px;

    & b {
      transition: opacity 0.1s ease-out;
      opacity: 0;
    }
  }
}

.projects-description:hover {
  & h5 {
    color: #FF7800;
    & b {
      opacity: 1;
    }
  }

  top: 0;
  left: 0;
}

.projects-description div {
  margin: auto;
  text-align: center;
}


.projects-description h3 {
  margin: 5px 0;
  font-size: 20px;
  text-transform: uppercase;
}

.project-name.margin {
  margin-top: 70px;
}


.projects-item img {
  display: block;
  width: 100%;
}

.projects-content {
  width: 1170px;
  margin: 30px auto;
}

.projects-content h2 {
  margin-left: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.projects-container {
  overflow: hidden;
  position: relative;

  &.loading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 5;
  }

  & .main-spinner {
    position: absolute;
    top: 100px;
    left: calc(1140px / 2 + 5px);
    z-index: 6;
  }
}

.projects-layout {
  overflow: hidden;
  min-height: 200px;
  position: relative;

  // &.loading:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(255, 255, 255, 0.85);
  // }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}


.projects-toolbar {
  margin: 15px 0;

  .ng-select-container {
    border: none;

    &:hover {
      box-shadow: none;
    }
  }
}

.projects-select-areas.ng-select {
  display: inline-block;
  width: 230px;
  margin: 0 15px;
  z-index: 50;
}

.projects-select-themes.ng-select {
  display: inline-block;
  width: 200px;
  margin: 0 15px;
}

.ng-select .ng-select-container .ng-value-container {
  padding-left: 0;
}

.ng-dropdown-panel {
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,.5);

}

.ng-dropdown-panel-items {
  border-top: 3px #2B468B solid;
  border-color: #2B468B;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 4px 8px;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  height: 30px;
  float: left;
  width: 216px;

  & .ng-option-label {
    position: absolute;
    white-space: nowrap;
    transform: translateX(0);
    transition: 1s linear;
    min-width: 100%;
    padding-right: 15px;
  }



  &:hover {

    & .ng-option-label {
      animation: trey 3s infinite;
    }

    @keyframes trey {
      100%{
        transform: translateX(calc(216px - 100%));
      }
    }
  }
}



.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 0;
}

.projects-search {
  padding: 15px;
  position: relative;
}

.projects-search input {
  background-color: #F5F5F5;
  border: #E1E1E1 2px solid;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  padding: 0 10px;
}

.projects-search .icon {
  content: '';
  position: absolute;
  right: 40px;
  width: 27px;
  height: 27px;
  top: 27px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.main-paginator {
  display: block;
  overflow: hidden;
  padding-top: 30px;
  text-align: center;
  clear: both;
}

.projects-empty {
  color: #999;
  font-size: 25px;
  text-align: center;
  padding: 50px 0;
}
