<div class="wishes">
  <div class="wishes-content">
    <div class="wishes-content-left">
      <h2>Пожелания</h2>
      <p>
        Хочу пожелать всем творческим, ярким, креативным людям<br>
        всегда оставаться верным своему делу, любить его искренне, без фальши.
        <br><br>
        Продолжайте творить даже если вы считаете что сил нет, и тогда вы<br>
        непременно получите свою благодарность в ответ.
        <br><br>
        Любой талант должен быть вознаграждён!<br>
        А мы уже об этом позаботимся.
      </p>
    </div>
    <div class="wishes-content-right">
      <h2>Благодарности</h2>
      <div class="wishes-item">
        <h4>Дарье Викторовне</h4>
        <h5>(Офисный комплекс. УК Восток. Зам директора)</h5>
        <p>За понимание и терпение</p>
      </div>
      <div class="wishes-item">
        <h4>Олегу Иванову</h4>
        <h5>(invest bazar, red bull)</h5>
        <p>За нужный совет</p>
      </div>
      <div class="wishes-item">
        <h4>Всем контрагентам с кем уже работаем</h4>
        <p>За правильный выбор</p>
      </div>
      <div class="wishes-item">
        <h4>Команде</h4>
        <p>За веру и трудолюбие</p>
      </div>
    </div>
  </div>
</div>
