.footer-offer {
  margin: 20px 0 40px 0;
  overflow: hidden;
}

.footer-offer-content {
  width: 1140px;
  margin: 0 auto;
}

.footer-offer-left,
.footer-offer-right {
  float: left;
  width: 50%;
  height: 368px;
  position: relative;
}

.footer-offer-left-content,
.footer-offer-right-content {
  position: absolute;
  left: 40px;
  bottom: 50px;
}

.footer-offer-left-content p {
  color: #000000;
  text-transform: uppercase;
  font-size: 25px;
  margin: 25px 0;
}

.footer-offer-right-content p {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 25px;
  margin: 25px 0;
}

.footer-offer-right-content button,
.footer-offer-left-content button {
  width: 250px;
  color: #FFFFFF;
  font-size: 15px;
  background-color: #FF7800;
  line-height: 25px;
  padding: 7px 17px;
}

.footer-offer-left-content button {
  background-color: #2B468B;
}

.modal-join {
  .modal-content {
    > p {
      margin-bottom: 35px;
    }

    .modal-join-footer {
      color: #FF7800;
      line-height: 22px;
      width: 180px;
      margin: 0 auto;

      .icon {
        float: left;
        margin-right: 15px;
      }

      p {
        float: right;
      }
    }

  }
}


.modal-answer {
  .modal-content {
    p {
      text-align: justify;
      line-height: 25px;
    }
    b {
      color: #FF7800;
    }
  }

}
