<button
  *ngIf="data"
  class="menu-item"
  [popper]="all"
  [popperHideOnClickOutside]="false"
  popperTrigger="hover"
  popperPlacement="top"
  popperBoundaries="#menu-popper-container"
  popperApplyClass="menu-popper"
  popperApplyArrowClass="menu-popper-all-arrow"
>Все продукты</button>
<popper-content #all>
  <div class="menu-popper-container">

    <div
      *ngFor="let direction of data"
      class="menu-popper-section menu-popper-production"
    >
      <h5>{{ direction.NAME }}</h5>
      <ul>
        <li
          *ngFor="let item of direction.ITEMS"
        >{{ item.NAME }}</li>
      </ul>
    </div>
  </div>
</popper-content>
