.menu-popper-production {
  width: 46%;

  background-color: #F7F7FF;
}

.menu-popper-promotion {
  width: 27%
}

.menu-popper-packages {
  width: 27%;

  background-color: #F7F7FF;
}

.menu-popper-production li {
  width: calc(50% - 30px);
}
