<div class="footer-slider">
  <div class="footer-slider-content">
    <h2>С нами уже работают</h2>
    <div class="footer-slider-container">
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-2.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-1.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-3.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-4.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-5.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-6.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-1.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-2.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-3.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-4.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-5.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
      <div
        class="footer-slider-item"
        style="background: url(assets/images/withUs/slider-photo-6.png) no-repeat; background-position: center;     background-size: contain;"
      ></div>
    </div>
  </div>
</div>
