<div class="menu">
  <div class="menu-content">
    <nav *ngIf="data">
      <bc-menu-all [data]=dataAll></bc-menu-all>
      <bc-menu-item
        *ngFor="let item of data; let last = last"
        [data]="item"
        [menuSize]="last ? 35 : 60"
      >{{ item.NAME }}</bc-menu-item>
      <!-- <bc-menu-item [menuSize]="35">Комплексные пакеты услуг</bc-menu-item> -->
    </nav>
    <div class="menu-search">
      <input
        #searchInput
        class="menu-search-input"
        type="text"
      />
      <button
        (click)="onSearch($event)"
        class="icon icon-search"
      ></button>
    </div>
  </div>
  <div id="menu-popper-container"></div>
</div>
