<div class="menu">
  <div class="menu-content">
    <nav *ngIf="data">
      <bc-menu-all [data]=dataAll></bc-menu-all>
      <bc-menu-item
        *ngFor="let item of data; let last = last"
        [data]="item"
        [menuSize]="last ? 35 : 60"
      >{{ item.NAME }}</bc-menu-item>
      <!-- <bc-menu-item [menuSize]="35">Комплексные пакеты услуг</bc-menu-item> -->
    </nav>
    <form
      class="menu-search"
      (ngSubmit)="onSubmit($event)"
      (mouseleave)="onLeaveSearch($event)"
    >
      <button
        #searchButton
        type="submit"
        class="icon icon-search"
        (mouseenter)="onHoverButton($event)"
        (mouseleave)="onHoverButton($event)"
        (mouseover)="onHoverButton($event)"
      ></button>
      <input
        #searchInputElem
        class="menu-search-input"
        [(ngModel)]="searchInput"
        (focus)="onHoverInput($event)"
        (blur)="onLeaveInput($event)"
        name="searchInput"
        type="text"
      />

    </form>
  </div>
  <div id="menu-popper-container"></div>
</div>
