<header class="header">
  <div class="header-content">
    <div class="header-left">
        <div class="header-logo-container">
          <a href="/" title="Brand Click"><div class="icon icon-logo header-icon-logo"></div></a>
        </div>
      <h4 class="header-note-container">Сервис для заказа рекламы<br>и творческих продуктов</h4>
      <a href="tel:+74993933371"><p class="header-phone-container">
        +7 (499) 39 333 71
      </p></a>
      <a href="tel:+79169033181"><p class="header-phone-container">
        +7 (916) 90 333 81
      </p></a>
    </div>
    <div class="header-right">
      <span class="header-info">Информация</span>
      <span class="header-info">Инвесторы</span>
      <span class="header-info">Контакты</span>
    </div>
  </div>
</header>
