
.header {
  overflow: hidden;
  height: 80px;
  background-color: #EBEBEB;
}

.header-content {
  width: 1140px;
  margin: 0 auto;
  background-color: #EBEBEB;
}

.header-left {
  float: left;
  width: 70%;
  line-height: 80px;
}

.header-logo-container {
  display: inline-block;
  text-align: left;
  padding: 15px 30px 15px 0;
}

.header-icon-logo {
  width: 150px;
  height: 50px;
  float: left;
}

.header-note-container {
  display: inline-block;

  color: #A5A5A5;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  vertical-align: top;
  margin-left: 10px;
  margin-right: 5px;
  padding: 20px 0;
}

.header-phone-container {
  display: inline-block;

  color: #2B468B;
  font-size: 16px;
  font-weight: 600;

  vertical-align: top;
  margin-left: 30px;
}

.header-right {
  float: right;
  width: 30%;

  text-align: right;
  line-height: 80px;
}

.header-info {
  display: inline-block;

  font-size: 15px;
  font-weight: 600;
  text-align: left;

  margin-left: 20px;

  cursor: pointer;
}

.modal-investors .modal-content h3 {
  color: #FF7800;
  text-transform: uppercase;
  font-weight: 500;
}

.modal-investors .modal-content > div {
  line-height: 80px;
  overflow: hidden;
  margin-bottom: 10px;
}

.modal-investors .modal-content hr {
  border: 1px #F5F5F5 solid;
  margin-bottom: 30px;
}

.modal-investors .modal-content p {
  float: left;
}

.modal-investors .modal-content .icon {
  float: right;
  height: 80px;
  margin-left: 25px;
}

.modal-investors .modal-content .icon-energizes {
  height: 70px;
}

.modal-investors .modal-content .icon-fox {
  margin-right: 30px;
}

.modal-info .modal-content-left {
  float: left;
  width: 140px;
  color: #FF7800;
  font-size: 15px;
  border-right: 1px #EBEBEB solid;
  text-align: right;
  padding-right: 30px;
}

.modal-info .modal-content-left span {
  line-height: 32px;
  display: block;
}

.modal-info .modal-content-left span:nth-child(2n) {
  margin: 35px 0;
}

.modal-info .modal-content-left p {
  font-size: 25px;
}

.modal-info .modal-content-left b {
  font-size: 40px;
  font-weight: 500;
}


.modal-info .modal-content-right {
  float: right;
  width: calc(100% - 140px);
  font-size: 15px;
  padding-left: 30px;
}

.modal-info .modal-content-right p {
  text-align: justify;
  font-size: 14px;
  line-height: 17px;
}

.modal-contacts .modal-content p {
  margin-bottom: 15px;
}

.modal-contacts .modal-content .icon {
  margin-right: 25px;
  float: left;
}

.modal-contacts .modal-contacts-footer {
  width: 90%;
  margin: 70px auto 0 auto;
  line-height: 33px;
}

.modal-contacts .modal-contacts-footer p {
  margin-left: 30px;
  margin-bottom: 0;
  float: right;
  color: #2B468B;
  text-decoration: underline;
  cursor: pointer;
}


.modal-contacts .modal-contacts-footer .icon {
  float: left;
  height: 33px;
  cursor: pointer;
}

.modal-contacts .modal-contacts-footer .icon-modals-info {
  height: 22px;
  margin-top: 5px;
  margin-right: 10px;
}

.model-contact-connect:hover p {
  color: #FF7800;
}

.model-contact-connect:hover span {
  background-position: 0 -22px;
}

.ymaps-2-1-64-geolink-popup {
  top: -50px !important;

}
