<div class="footer-offer">
  <div class="footer-offer-content">
    <div class="footer-offer-left">
      <div class="footer-offer-left-content">
        <p>Стань частью команды БК</p>
        <button>
          <i class="icon icon-add"></i>
          Присоединиться
        </button>
      </div>
    </div><div class="footer-offer-right">
      <div class="footer-offer-right-content">
        <p>Чем полезен наш сервис?</p>
        <button>
          <i class="icon icon-info"></i>
          Ответ!
        </button>
      </div>
    </div>
  </div>
</div>
