.projects-item {
  width: 360px;
  margin: 15px;
  float: left;
  cursor: pointer;
  transition: 0.2s linear;
}

.projects-item:hover {
  box-shadow: 0px 5px 15px #909090;
}

.project-description {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-out;
  opacity: 0;
  color: #2B468B;
}

.project-description:hover {
  background-color: rgba(235, 235, 235, 0.8);
  opacity: 1;
}

.project-description div {
  margin: auto;
  text-align: center;
}


.project-description h3 {
  margin: 5px 0;
  font-size: 20px;
  text-transform: uppercase;
}


.projects-item img {
  display: block;
  width: 100%;
}

.projects-content {
  width: 1170px;
  margin: 0 auto;
}

.projects-content h2 {
  margin-left: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.projects-container:after {
  content: '';
  display: block;
  clear: both;
}

.projects-toolbar {
  margin: 15px 0;

  .ng-select-container {
    border: none;

    &:hover {
      box-shadow: none;
    }
  }
}

.project-select-areas.ng-select {
  display: inline-block;
  width: 230px;
  margin: 0 15px;

}

.project-select-themes.ng-select {
  display: inline-block;
  width: 200px;
  margin: 0 15px;
}

.ng-select .ng-select-container .ng-value-container {
  padding-left: 0;
}

.ng-dropdown-panel {
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,.5);

}

.ng-dropdown-panel-items {
  border-top: 3px #2B468B solid;
  border-color: #2B468B;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 0;
}

.project-search {
  padding: 15px;
  position: relative;
}

.project-search input {
  background-color: #F5F5F5;
  border: #E1E1E1 2px solid;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  padding: 0 10px;
}

.project-search .icon {
  content: '';
  position: absolute;
  right: 40px;
  width: 27px;
  height: 27px;
  top: 27px;
  cursor: pointer;
}
