<button
  class="menu-item"
  [popper]="production"
  [popperHideOnClickOutside]="false"
  popperTrigger="hover"
  popperPlacement="top"
  popperBoundaries="#menu-popper-container"
  popperApplyClass="menu-popper"
  popperApplyArrowClass="menu-popper-arrow"
  (popperOnShown)="onShown($event)"
><ng-content></ng-content></button>
<popper-content #production>
  <div class="menu-popper-container">
    <div
      [style.width.%]="menuSize"
      [style.column-count]="columnCount"
      class="menu-popper-section menu-popper-groups"
    >
      <div
        class="menu-popper-group"
        *ngFor="let group of data.GROUPS"
      >
        <h5>{{ group.NAME }}</h5>
        <ul>
          <li
            *ngFor="let item of group.ITEMS"
            (mouseenter)="onHoverItem(item)"
          >{{ item.DESCRIPTION || item.NAME }}</li>
        </ul>
      </div>
    </div>
    <div
      [style.width.%]="infoSize"
      class="menu-popper-section menu-popper-info"
      *ngIf="info"
    >
      <div class="icon icon-info-menu"></div>
      <h5>{{ info.NAME }}</h5>
      <p [innerHTML]="info.NOTE"></p>
    </div>
  </div>
</popper-content>
