<div class="footer-about">
  <div class="footer-about-content">
    <div class="footer-about-note">
      <h2>О сервисе</h2>
      <p>Траляля бла бла бла ыаыа а выавы аыва ыв афыва выфа выфа выфа </p>
      <button>
        <i class="icon icon-heart"></i>
        Пожелания и благодарности
      </button>
    </div>
    <div class="footer-about-employers">
      <h4>Количество исполнителей</h4>
      <h2>370</h2>
      <p>sdafds fsdg sdfg fsgfs hgf hdh dsgjsdgjg</p>
    </div>
    <div class="footer-about-works">
      <h4>Количество работ</h4>
      <h2>800</h2>
      <p>dsfdsf df dasf dsa fds ds fsdaf asd </p>
    </div>
  </div>
</div>
