<div class="footer-about">
  <div class="footer-about-content">
    <div class="footer-about-note">
      <h2>О сервисе</h2>
      <p>Сервис БК - современный технологичный продукт творческих исполнителей.
        Создан для упрощения заказа рекламы и продвижения брендов, а также полного удовлетворения в продуктах искусства.
        Может использоваться как крупными корпорациями, так и частными лицами.
      </p>
      <button [routerLink]="['/wishes']">
        <i class="icon icon-heart"></i>
        Пожелания и благодарности
      </button>
    </div>
    <div class="footer-about-employers">
      <h4>Количество исполнителей</h4>
      <h2>370</h2>
      <p>Широкий арсенал творческих талантов, каждый профессионал в своей области.</p>
    </div>
    <div class="footer-about-works">
      <h4>Количество работ</h4>
      <h2>800</h2>
      <p>На сайте представлены работы творческого фонда. Отбор и их контроль выполнения проектов происходит согласно методике Energizes.</p>
    </div>
  </div>
</div>
