<div class="history-header">
  <div class="history-header-content">
    <h1>История бренда</h1>
    <div class="history-graph">
      <div><span>2015</span></div>
      <div><span>2016</span></div>
      <div><span>2017</span></div>
      <div><span>2018</span></div>
    </div>
  </div>
</div>
<div class="history">
  <div class="history-content">
    <span><div class="histroy-image histroy-2015-image"></div><div class="histroy-text histroy-2015">
      Компания Energizes была основана двумя братьями в <b>2015</b> году.<br><br>
      Сначала, деятельность была направлена на развитие молодёжной музыкальной культуры и музыкальный продакшн.
    </div></span>
    <span><div class="histroy-text histroy-2016">
      В <b>2016</b> году компания выходит на рынок промышленных предприятий и корпораций с продуктом по видео производству.<br><br>
      Была сформирована <b>кинокомпания kino-e.ru</b>, которая осуществляет весь спектр услуг по видео продакшену и 3D графики.
    </div><div class="histroy-image histroy-2016-image"></div></span>
    <span><div class="histroy-image histroy-2017-image"></div><div class="histroy-text histroy-2017">
      В <b>2017</b> году вокруг бренда ENERGIZES объединяются специалисты таких творческих областей - веб-дизайн, промышленный дизайн, дизайн интерьеров, арт, IT / программирование, интернет маркетинг и др.<br><br>
      Была открыта <b>Лаборатория Energizes laba-e.ru</b> по разработке IT продуктов и продвижение брендов. На основе Лабы был построен сервис БК.
    </div></span>
    <span><div class="histroy-text histroy-2018">
      В <b>2018</b> году планируется официальный запуск проекта.<br><br><b>БК - р в один клик.</b>
    </div><div class="histroy-image histroy-2018-image"></div></span>
  </div>
</div>
